
.*
!.gitkeep
!.gitignore
tags

*~
*.back
# patch command backup file
*.rej
*.orig

# cash
*~

# tmporary
/tmp
/temp
/gabage
/work
/object
/binary
/build
/download

# object files
*.d
*.o
*.a
*.exe
*.app

# object files
*.o
*.ko
*.obj
*.elf

# libraries
*.lib
*.a
*.la
*.lo

# shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# doxygen
/doxygen

# debhelper
.debhelper
debian/debhello
debian/tmp
*.log
debian/debhello*
!debian/debhello.install
debian/debhelper-build-stamp
debhello
debian/files
src/hello
/gtk3_win64

